# python
bad_records.py
edit_distance.py
str_process.py
visual_graph.py

# txt
res.txt
sort.txt
sort2.txt
bad_guys.txt
bad_names.txt
graph.txt
graph_test.txt
linkgraph.txt
result.txt

# csv
graph_new.csv

# other
.idea/